.dashboard-content {
  --background: #1B3A46;
}

.dashboard-wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.sidebar-web {
  width: 240px;
  background-color: #1B3A46;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.profile-section {
  text-align: center;
  color: white;
  margin-bottom: 1.5rem;
}

.user-name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.icon-user {
  font-size: 3rem;
  color: white;
}

.menu-btn {
  --background: #65558F;
  --color: white;
  font-weight: bold;
  width: 100%;
  font-size: 0.85rem;
  border-radius: 6px;
}

.menu-btn.active {
  --background: #D08A2D;
}

.main-content {
  background-color: #EEEEEE;
  flex: 1;
  padding: 2rem;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  @media (max-width: 768px) {
    padding: 1rem;
    border-radius: 0;
  }
}

.page-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1B3A46;
  margin-bottom: 1.5rem;
}

.widget-box {
  background: rgb(139, 139, 139);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(210, 208, 208, 0.13);
}

ion-item {
  margin-bottom: 1rem;
  --background: transparent;
}

ion-label {
  font-weight: bold;
  color: #1B3A46;
}

ion-input, ion-select {
  background-color: #565555;
  border-radius: 6px;
}

ion-button[type="submit"] {
  --background: #d02d2d;
  --color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.mensaje-confirmacion {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #1B3A46;
  text-align: center;
}

.header-movil {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  .titulo-movil {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .icon-user-movil {
    font-size: 2rem;
    color: #1B3A46;
  }

  .user-info {
    font-size: 0.9rem;
    color: #ffffff;
  }
}
